/*start gloable rules*/
:root {
    --background-color: #FFF5E0;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*small*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/*medium*/
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/*large*/
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*start header*/
header {
    background-color: #2b2a4c;
    height: 54px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo .name {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: #B31312;
}
@media (max-width: 767px) {
    .container .con {display: none;
    }
    nav ul { margin-left: 50px;}
}
header .container nav {
    margin: auto;
}

header .container nav ul {
    display: flex;
}

header .container nav ul li {
    margin-right: 40px;
}

header .container nav ul li a {
    color: white;
}

header .container nav ul li a:hover {
    border-bottom: 2px solid #B31312;
}

header .container .con {
    position: relative;
}

header .container .con img {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 9px;
    left: 9px;

}

header .container .search {
    outline: none;
    padding: 6px 25px;
    border-radius: 12px;
    border: 1px solid #eee;
}

/*end header*/
/*landing*/

.landing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 767px) {
    .landing .container{flex-direction: column;}
    .landing .text{margin-top: 30px;}
    .landing .imag {margin-top: 25px;}
}

.landing .text {
    max-width: 400px;
    margin-left: 15px;
}

.landing .text h1 {
    color: black;
    ;
}

.landing .text p {
    line-height: 1.6;
    color: #777;

}

.landing .text .check {
    position: relative;
}

.landing .text .check img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 160px;
    top: 36px;
    animation: run .6s linear infinite;
}
@keyframes run{
    0% , 100{
        width: 20px;
    }
    50%{
        width: 25px;
    }
}

.landing .text .check {}

.landing .text button {
    margin-top: 25px;
    padding: 12px 20px;
    background-color: #B31312;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.landing .text button:hover {
    color: black;
    background-color: white;
    border: 1px solid #B31312;
}



/*end landing*/
